/* Form */
main {
    height: 85%;
}

form {
    height: 100%;
    display: flex;
    justify-content: center;
}
 
fieldset {
    background-color: var(--munsell);
    border: none;
    border-radius: 5px;
    color: var(--isabelline);
    height: 30rem;
    margin: auto;
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

label {
    font-size: 1.6rem;
    margin: 0 .75rem;
}

input {
    padding: .6rem;
    margin: 1rem .75rem;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.submit {
    background-color: var(--bittersweet);
    border: none;
    color: var(--isabelline);
    cursor: pointer;
    margin-top: 1rem;
    padding: .6rem;
    height: 4rem;
}
