/* Main */
main {
    justify-content: space-evenly;
    height: 85%;
    margin: 0 auto;
    max-width: 65rem;
}

h1 {
    font-size: 6rem;
    font-weight: 500;
}

.position {
    font-size: 3.4rem;
    font-weight: 100;
}

img {
    border-radius: 50%;
    width: 28rem;
}

a {
    color: inherit;
    font-size: 1.6rem;
    text-decoration: none;
    margin-right: 3rem;
}

a:hover {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: underline;
}

.resume {
    font-size: 1.8rem;
    text-align: justify;
}

/* Clase para cambiar el fondo con función de JavaScript */
.dark-mode {
    background-color: var(--isabelline);
    color: var(--smokyBlakc);
}


/* Media queries */
@media only screen and (max-width: 650px){
    main {
        width: 40rem;
    }

    h1{
        font-size: 3rem;
    }

    .position {
        font-size: 1.5rem;
    }
    img {
        width: 20rem;
    }
}
