/* Este archivo de css contiene las reglas del Nav-Bar, los colores, la fuente */

:root {
    --isabelline: #f5efed;
    --smokyBlakc: #201e1e;
    --munsell: #2292a4;
    --bittersweet: #fe5f55;
    --citrine: #bdbf09;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset para todos los elementos */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset al tamaño de fuente para que todo mida 10px */

html {
    font-size: 62.5%;
}

body {
    background-color: var(--smokyBlakc);
    color: var(--isabelline);
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    width: 100vw;
}

body, main {
    display: flex;
    flex-direction: column;
}

/* Nav bar */
header {
    height: 7%;
}

nav.space {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logo {
    height: 4rem;
    margin-left: 3rem;
    width: 4rem;
}

.data, ul, .nav-links {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

/* Main */
main {
    justify-content: space-evenly;
    height: 85%;
    margin: 0 auto;
    max-width: 65rem;
}

h1 {
    font-size: 6rem;
    font-weight: 500;
}

.position {
    font-size: 3.4rem;
    font-weight: 100;
}

img {
    border-radius: 50%;
    width: 28rem;
}

a {
    color: inherit;
    font-size: 1.6rem;
    text-decoration: none;
    margin-right: 3rem;
}

a:hover {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: underline;
}

.resume {
    font-size: 1.8rem;
    text-align: justify;
}

/* Clase para cambiar el fondo con función de JavaScript */
.dark-mode {
    background-color: var(--isabelline);
    color: var(--smokyBlakc);
}


/* Media queries */
@media only screen and (max-width: 650px){
    main {
        width: 40rem;
    }

    h1{
        font-size: 3rem;
    }
 
    .position {
        font-size: 1.5rem;
    }
    img {
        width: 20rem;
    }
}
