@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset al tamaño de fuente para que todo mida 10px */
html {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;
    width: 100vw;
}

/* Nav bar */
nav {
    display: flex;
    justify-content: space-between;
}
header {
    height: 7%;
    width: 100%;
}

.navbar-brand .logo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
a {
    color: inherit;
    font-size: 1.9rem;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Main */
main {
    justify-content: space-evenly;
    margin: 0 auto;
    width: 70rem;
    padding-top: 2rem;
}

h1 {
    font-size: 5rem;
    font-weight: 500;
}

.position {
    font-size: 3.4rem;
    font-weight: 100;
}

.myPhoto {
    border-radius: 50%;
    width: 28rem;
}

.resume {
    font-size: 1.8rem;
    text-align: justify;
} 

/* Portfolio */
.img-port {
    width: 100%;
    transition: transform 0.3s;
}

.img-port:hover {
    transform: scale(1.1);
}

/* Media queries */
@media only screen and (max-width: 650px) {
    main {
        width: 90%;
    }

    .data {
        flex-direction: column;
        text-align: center;
    }

    h1 {
        font-size: 3.5rem;
    }

    .position {
        font-size: 2rem;
    }

    .myPhoto {
        width: 25rem;
    }

    .resume p {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 400px) {
    main {
        width: 100%;
    }
} 